@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background: #567186;
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  margin: 4vw auto;
  background: #fff;
  max-width: 90px;
}

.transition > div {
  width: 200px;
  height: 200px;
  background: white;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}
.transition .split_diagonal, .transition .split_diagonal_alt, .transition .split_diamond {
  -webkit-animation: diamond 1.2s;
          animation: diamond 1.2s;
  -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
}
.transition .split_horizontal, .transition .wipe_top, .transition .wipe_bottom {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.transition .split_vertical, .transition .wipe_left, .transition .wipe_right {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.transition__part-1 {
  left: -100px;
  top: -100px;
}
.transition__part-1.split_diagonal_alt, .transition__part-1.split_vertical, .transition__part-1.split_horizontal {
  display: none;
}
.transition__part-2 {
  bottom: -100px;
  left: -100px;
}
.transition__part-2.split_diagonal, .transition__part-2.split_vertical, .transition__part-2.split_horizontal {
  display: none;
}
.transition__part-3 {
  top: -100px;
  right: -100px;
}
.transition__part-3.split_diagonal, .transition__part-3.split_vertical, .transition__part-3.split_horizontal {
  display: none;
}
.transition__part-4 {
  bottom: -100px;
  right: -100px;
}
.transition__part-4.split_diagonal_alt, .transition__part-4.split_vertical, .transition__part-4.split_horizontal {
  display: none;
}
.transition__part-5 {
  height: 100% !important;
  display: none;
  left: 0px;
  -webkit-transform-origin: 0px 200px;
          transform-origin: 0px 200px;
  -webkit-animation: vertical 1.2s forwards;
          animation: vertical 1.2s forwards;
}
.transition__part-5.split_vertical, .transition__part-5.wipe_left {
  display: block;
}
.transition__part-6 {
  height: 100% !important;
  display: none;
  right: -200px;
  -webkit-transform-origin: 0px 200px;
          transform-origin: 0px 200px;
  -webkit-animation: vertical_r 1.2s forwards;
          animation: vertical_r 1.2s forwards;
}
.transition__part-6.split_vertical, .transition__part-6.wipe_right {
  display: block;
}
.transition__part-7 {
  width: 100% !important;
  display: none;
  bottom: -100px;
  -webkit-animation: horizontal 1s forwards;
          animation: horizontal 1s forwards;
}
.transition__part-7.split_horizontal, .transition__part-7.wipe_bottom {
  display: block;
}
.transition__part-8 {
  width: 100% !important;
  display: none;
  top: -100px;
  -webkit-animation: horizontal 1s forwards;
          animation: horizontal 1s forwards;
}
.transition__part-8.split_horizontal, .transition__part-8.wipe_top {
  display: block;
}
@-webkit-keyframes diamond {
  0% {
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(10);
            transform: rotate(45deg) scale(10);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
}
@keyframes diamond {
  0% {
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(10);
            transform: rotate(45deg) scale(10);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
}
@-webkit-keyframes vertical {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(10);
            transform: scaleX(10);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes vertical {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(10);
            transform: scaleX(10);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes vertical_r {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(-10);
            transform: scaleX(-10);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes vertical_r {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(-10);
            transform: scaleX(-10);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(10);
            transform: scaleY(10);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes horizontal {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(10);
            transform: scaleY(10);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
.navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  display: flex;
  z-index: 2;
  transform: translateY(-50%);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12vw;
}

.nav-button {
  border: 1px solid #fff;
  padding: 16px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 56px;
  flex: 1;
  text-align: center;
  transition: 0.2s all;
}
.nav-button:active {
  background-color: #1b1c26;
  background-color: #1b1c26aa;
  border-color: #1b1c26;
}
.nav-button--left {
  float: left;
  margin-right: 12px;
}
.nav-button--right {
  float: right;
  margin-left: 12px;
}
.active_slide {
  display: block;
}
section {
  height: 100vh;
  display: none;
}

section img {
  border: 2px solid #fff;
  border-radius: 4px;
}

.container {
  color: #ddd;
  font-family: 'Raleway';
  text-align: center;
  margin: auto;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  max-width: 800px;
  width: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.final {
  overflow: auto;
}
section.final .container {
  position: static;
  transform: translateY(0);
  text-align: left;
  margin-bottom: 120px;
}

section.final h1 {
  font-size: 24px;
  margin-top: 24px
}

section.final.active_slide + .navigation {
  display: none;
}

h1 {
  font-size: 32px;
  margin: 0 0 32px;
}
h2 {
  font-size: 20px;
  margin: 0 0 32px;
  font-weight: normal;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.options label {
  flex: 1;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  font-size: 22px;
  min-height: 20vw;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  transition: all 0.2s;
}

.options label:hover {
  background-color: #1b1c26;
  background-color: #1b1c2633;
  border-color: #fff;
}

.options label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.options label:last-child {
  border-radius: 0 4px 4px 0;
}

.options input[type="radio"] {
  display: none;
}

.options input[type="radio"]:checked+label {
  background-color: #1b1c26;
  background-color: #1b1c26aa;
  color: #fff;
}
